* {
  scroll-behavior: smooth;
}

body {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-blend-mode: multiply;
  }

  .logo {
    width: 120px;
  }

  .navbar-toggler-icon {
    background-color: #9e430e;
  }

  .navbar-toggler{
    background-color: #9e430e;
  }

  #navigation {
    margin: auto;
    color: #9e430e;
  }

  .top {
    margin: 2.5% auto;
    padding: 0;
    text-align: center;
  }

  .topper {
    margin: 10px auto;
  }

  #icons {
    font-size: 30px;
  }

  .link {
    color:  #9e430e;
    font-family: 'Poppins', sans-serif;
    margin: 10px 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .link:hover {
    color: #9e430e;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

#project-title {
  margin: 3px auto;
}

#footer {
  text-align: center;
}

#footer-icons {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 50px;
}

.footer-text {
  color: #ffffff;
  padding: 20px;
}

.container-fluid {
  background-color: #9e430e;
}
  
#slider {
  background-color: #9e430e;
  margin: 30px 30px 50px 500px;
  max-width: 420px;
  text-align: center;
}

.photo {
  margin: 0 auto;
  max-width: 420px;
  text-align: center;
}

.colored-name {
  color: #9e430e;
}

.testimonial-header {
  text-align: center;
  color: #ffffff;
}



#testimonials {
  background-color: #9e430e;
  color: #0000;
}

.testimonial-image {
  max-width: 300px;
  margin: 30px auto 30px 500px;
}


.colored-header {
  color: #9e430e;
  font-weight: bolder;
  font-size: 36px;
}

  .top-container {
    position: relative;
    padding-top: 100px;
    text-align: center;
  }
   
  .btn {
    /*background: #11cdd4;*/
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    color: #fff;
  }
  
  .name {
    font-size: 4em;
  }

  .intro {
    font-size: 1.2rem;
  }

  @media (max-width:1024px){
    body {
      background-size: cover;
      scroll-behavior: smooth;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }
    .photo {
      max-width: 450px;
    }
  }

  @media (max-width: 700px) {
    .photo {
      width: 350px;
    }

    .name .intro {
      text-align: center;
      font-size: smaller;
    }
  }